@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body * {
    padding: 0;
    margin: 0;
}

body {
    overflow: hidden;
    background: transparent;
}

#webgl {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100vh;
    width: 100vw;

    background: black;
}

/* Buttons Section */
.section {
    width: 100vw;
    position: absolute;
    left: 0;
    bottom: 10%;

    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
}

.buttons {
    font-family: "Roboto", sans-serif;
    color: white;
    background: transparent;
    font-size: 1.2rem;
    font-weight: 500;

    border: white 2px solid;
    border-radius: 9999px;

    padding: 15px;

    cursor: pointer;

    transition: all 0.25s;
}

.buttons-active {
    color: black;
    background:white;
}

.buttons:hover {
    color: black;
    background:white;
}

/* Section 3D */
.about-container h1 {
    color: red;
    background: black;
}

.portfolio-container h1 {
    background: red;
}
