@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

body * {
    padding: 0;
    margin: 0;
}

body {
    overflow: hidden;
    background: transparent;
}

#webgl {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100vh;
    width: 100vw;

    background: black;
}

/* Buttons Section */
.section-buttons {
    width: 100vw;
    position: absolute;
    left: 0;
    bottom: 2%;

    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
}

.buttons {
    font-family: "Roboto", sans-serif;
    color: white;
    background: transparent;
    font-size: 1.2rem;
    font-weight: 500;

    width: 20%;
    max-width: fit-content;

    border: white 2px solid;
    border-radius: 9999px;

    padding: 15px;

    cursor: pointer;

    transition: all 0.25s;
}

.buttons-active {
    color: black;
    background:white;
}

.buttons:hover {
    color: black;
    background:white;
}

/* Section 3D */
.section-info {
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;

    width: 45vw;
    height: 85vh;

    color: white;
    background-color: rgba(0, 0, 0, 0.7);

    transform: scaleY(0);
    will-change: transform;

    transition: transform 0.2s;
}

.section-info .title {
    font-family: "Great Vibes", cursive;
    font-size: 5rem;
    text-decoration: underline;

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 1rem;

    user-select: none;
}

.about-section {
    left: 50px;
    top: 2.5vh;
}

.contact-section {
    right: 50px;
    top: 2.5vh;
}

.portfolio-section {
    width: 90vw;
    left: calc(50% - 90vw / 2);
    top: 2.5vh;
}

.active {
    transform: scaleY(1);
    will-change: transform
}


/* Form Contact */
.form-holder {
    font-family: 'Roboto', sans-serif;
    padding: 1.5rem;
}

.form-holder label {
    font-size: 1.2rem;

    display: flex;
    flex-direction: column;
    
    border-radius: 5px;
    border: #262626 1px solid;

    padding: 0.5rem;

    transition: border-color 0.4s;
}

.form-holder label:focus-within {
    border-color: white;
}

.input-form, .textarea-form {
    color: white;
    font-size: 1.1rem;

    background: transparent;
    border: none;

    margin-top: 0.5rem;
}

.textarea-form {
    min-width: 100%;
    max-width: 100%;
}

.input-form:focus, .textarea-form:focus {
    outline: none;
}

.button-form {
    cursor: pointer;

    font-size: 1.2rem;

    background: #aaaaaa;

    padding: 0.5rem;

    border-radius: 5px;
    border: none;

    width: 40%;
    transition: background-color 0.4s;
}

.button-form:hover {
    background-color: white;
}

.submit-holder {
    width: 100%;
    display: flex;
    justify-content: center;
    
    column-gap: 2rem;
}

.social-container {
    display: flex;
    
    column-gap: 0.5rem;
}

.social-container a {
    cursor: pointer;
}

.social-container a img {
    max-width: 50px;
    opacity: 65%;

    transition: opacity 0.4s;
}

.social-container a img:hover {
    opacity: 100%;
}

/* About Section */
.about-holder {
    height: fit-content;

    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
    
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about-holder p {
    margin-bottom: 0.7rem;
}

.about-holder p::selection {
    background-color: #770000;
}

/* Mode Button */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #FFFACD;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #1f263b;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
} 


/* Media Query */
@media (max-width: 960px) {
    .buttons {
        font-size: 1rem;
        padding: 5px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .about-section, .contact-section {
        width: 90vw;
        left: calc(50% - 90vw / 2);
        right: 0;

        padding-left: 0.2rem;
        padding-right: 0.2rem;
    }

    .about-holder {
        font-size: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .submit-holder {
        flex-direction: column;
        align-items: center;
        row-gap: 0.5rem;
        padding: 0;
    }
}
